.h {
  display: none !important;
}
.pa {
  position: absolute;
}

.stage-container {
  position: relative;
  width: 1200px;
  height: 800px;
}
canvas {
  border: 1px solid tomato;
  background-color: #ccc;

  &.paused{
    opacity: 0.2;
  }
}

.stage-container {
  position: relative;
}
.center-stage {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-left-stage {
  top: 20px;
  left: 20px;
}

.life-container {
  width: 100px;
  height: 20px;
  border: 1px solid blue;
  display: block;

  .bar {
    display: inline-block;
    width: 10px;
    height: 100%;
    background: green;
    display: inline-block;
    // border-right: 1px solid white;
  }
}
.lives-count {
  left: 150px;
  font-weight: bold;
}

#main-menu {
  position: absolute;
}